<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CPU</name>
          <description>CPU</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>1</string>
              <string>2</string>
              <string>3</string>
              <string>4</string>
              <string>5</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MEMORY</name>
          <description>MEMORY</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>1024</string>
              <string>2048</string>
              <string>4096</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>prod</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;prod&quot;
echo $CPU 
echo $MEMORY 
echo $BUILD_NUMBER 

/root/mi/login_mi.sh
/root/mi/micloud app create -f /root/mi/flask2.json</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.fluentd.Fluentd plugin="fluentd@0.1.3">
      <tag>prod</tag>
      <json></json>
      <fileName>f.json</fileName>
      <failBuild>true</failBuild>
    </org.jenkinsci.plugins.fluentd.Fluentd>
  </publishers>
  <buildWrappers/>
</project>