<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>root@gitea.nuwarobotics.com:nuwarobotics/sug_model.git</url>
        <credentialsId>2b20856e-d4ed-4f8e-8602-e3db593e4c7a</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/prod</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>virginia</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>name=sug_model-prod
nameflask=sug_model-prod-flask
version=`date +&quot;%Y%m%d_%H%M&quot;`-gpu-prod

# build docker image
cd flask 
docker build -f Dockerfile_flask . -t cnbj-repo.cloud.mi.com/nuwa/$nameflask:$version
docker tag cnbj-repo.cloud.mi.com/nuwa/$nameflask:$version cnbj-repo.cloud.mi.com/nuwa/$nameflask
docker tag cnbj-repo.cloud.mi.com/nuwa/$nameflask:$version us-repo.cloud.mi.com/nuwa/$nameflask
docker tag cnbj-repo.cloud.mi.com/nuwa/$nameflask:$version us-repo.cloud.mi.com/nuwa/$nameflask:$version

cd ../models
docker build -f Dockerfile_model . -t cnbj-repo.cloud.mi.com/nuwa/$name:$version
docker tag cnbj-repo.cloud.mi.com/nuwa/$name:$version cnbj-repo.cloud.mi.com/nuwa/$name
docker tag cnbj-repo.cloud.mi.com/nuwa/$name:$version us-repo.cloud.mi.com/nuwa/$name
docker tag cnbj-repo.cloud.mi.com/nuwa/$name:$version us-repo.cloud.mi.com/nuwa/$name:$version

#push image to harbor
docker push us-repo.cloud.mi.com/nuwa/$name
docker push us-repo.cloud.mi.com/nuwa/$name:$version
docker push cnbj-repo.cloud.mi.com/nuwa/$name
docker push cnbj-repo.cloud.mi.com/nuwa/$name:$version
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>