<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@giteassh.nuwarobotics.cn:nuwarobotics/backend-api-airtable-sync-mirror.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>china1</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># set name:version
name=backend-api-airtable-sync-dev
version=`date +&quot;%Y%m%d_%H%M&quot;`

# build image
docker build . -t cnbj-repo.cloud.mi.com/nuwa/$name:$version
#3#docker tag us-repo.cloud.mi.com/nuwa/$name:$version us-repo.cloud.mi.com/nuwa/$name:latest


# push image 
docker push cnbj-repo.cloud.mi.com/nuwa/$name:$version
#3#docker push us-repo.cloud.mi.com/nuwa/$name:latest

#/bin/ssh root@54.178.165.29 &quot;cd /var/app/docker ; docker-compose pull ; docker-compose stop ; docker-compose rm -f -v; docker-compose up -d&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>